@media only screen and (max-width: 760px) {
    #touchcanvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    input {
        position: absolute;
        right: 5px;
    }
    label {
        position: absolute;
        left: 5px;
    }
}
.hide {
    display: none;
}
.unsupported {
    color: red;
    border-color: red;
}
.error {
    color: red;
}