<section class="row text-center" data-ng-controller="AuthenticationController">
    <div class="col-md-12">
        <h2>Create your account for SVMP</h2>
        <br/>
    </div>
	<div class="col-md-offset-4 col-md-4 col-md-4">
		<div class="text-center">
			Passwords must be 8 characters long, and must include:
			<br />
			One lowercase letter, one uppercase letter, one number, and one symbol of !@#$%&*()
			<br />
			<br />
		</div>
		<form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="text" id="email" name="email" class="form-control input-lg text-center" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control input-lg text-center" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control input-lg text-center" data-ng-model="credentials.password" placeholder="Password">
				</div>
                <div class="form-group">
                    <select id="device" class="form-control  input-lg text-center"
                            ng-model="credentials.device_type" ng-options="device.id as device.name for device in devices">
                        <option style="display:none" value="">Select a supported Device</option>
                        <!--<option ng-repeat="item in devices" value="{{item.id}}">{{item.name}}</option>-->

                    </select>

                    <!--<select id="device" class="form-control text-center" data-ng-model="credentials.device_type">
                        <option ng-selected="credentials.device_type">Nexus 7</option>
                        <option>Samsung Galaxy Note II</option>
                        <option>HTC One</option>
                        <option>Motorola Atrix</option>
                    </select> -->
                </div>
                <br/>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-success">SIGN UP</button>
                    <hr/>
                    &nbsp;already have an account -&nbsp;
					<a href="/#!/signin" class="show-signup">Login</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>