<section class="text-center" data-ng-controller="HomeController">
    <img src="/img/brand/svmp.png"/>
    <h1>Virtual Smart Phones in the Cloud</h1>
        <p style="text-align: justify;">
            The Secure Virtual Mobile Platform is a free and open source system for running virtual
            smartphones in the cloud. It helps solve many of the problems of secure containers and
            “bring your own device” by treating a user’s physical phone as a terminal for remotely
            accessing a virtual smartphone running off-the-shelf smartphone apps.
            These virtual devices, operating safely in a datacenter,
            then provide a secure bastion for accessing sensitive apps and data.
        </p>
    <br/>
    <a class="btn btn-lg btn-success" href="https://svmp.github.io/">Learn more</a>
    &nbsp;&nbsp;
    <a class="btn btn-lg btn-primary" href="#!/signup">Get started</a>
</section>